@import "tailwindcss";


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1890ff;
  padding: 0 20px;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.content {
  width: 100%; /* 让内容适应浏览器宽度 */
  max-width: 1200px; /* 限制最大宽度 */
  margin: 0 auto; /* 居中对齐 */
  padding: 20px;
}

.profile {
  text-align: center;
  margin-bottom: 20px;
}

.name {
  margin: 10px 0;
}

.bio {
  font-size: 16px;
  color: #666;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.exp {
  display: flex;  /* 让子元素横向排列 */
  flex-wrap: wrap; /* 允许换行 */
  justify-content: space-between; /* 在行间隙分配空间 */
}

.card {
  width: 40%;
  box-sizing: border-box; /* 确保 padding 不影响宽度 */
  padding: 20px;
  margin: 20px;
  border: 1px solid #ddd;
  background: white;
  white-space: normal; /* 允许换行 */
  overflow: visible;   /* 不隐藏内容 */
  text-overflow: clip; /* 不截断文本 */
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center; /* 水平居中 */
  gap: 200px;
}

.round_card {
  border-radius: 50%; /* 使卡片圆形 */
  width: 150px; /* 设置宽度 */
  height: 150px; /* 设置高度 */
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
  overflow: hidden; /* 确保内容不超出边界 */
  background:rgb(241, 184, 169);
  color: rgb(19, 46, 87);
}

.content_card{
  white-space: normal; /* 允许换行 */
  overflow: visible;   /* 不隐藏内容 */
  text-overflow: clip; /* 不截断文本 */
}

.icon {
  font-size: 24px;
  transition: color 0.3s;
}

.icon:hover {
  color: #1890ff;
}

.footer {
  text-align: center;
  padding: 10px;
  background: #f0f2f5;
}
